.chat-screen {
    position: relative;
    border: 1px solid black;
    height: 100vh;
    --web-view-name: chatscreen;
	--web-view-id: chatscreen;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

.title-question-area {
    height: 40px;
    width: 100%;
    background-color: rgb(8,95,99);
    display: flex;
}
.text-title-question {
    color: white;
    font-size: 18px;
    margin: auto;
}
.recommend-question-area {
    width: 35%;
    height: 100%;
    background-color: rgb(73,190,183);
}
.question-area {
    padding-top: 10px;
    top: 40px;
    height: 100%;
    justify-content: center;
}
.text-box-recommend {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 400px;
    padding-left: 10px;
    font-size: 18px;
    display: flex;
}
.text-recommend {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.chat-area {
    position: absolute; 
    height: 100%;
    width: 65%;
    bottom: 0;
    right: 0;
    border-left: 1px solid black;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(250,207,90);
}

.title-course {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    border-bottom: 1px solid black;
}
.text-title-course {
    margin: auto;
}
/*Chat zone----------------------*/
.chat-zone {
    position: absolute;
    top: 40px;
    height: 550px;
    width: 100%;
}
.chat-user-container {
    display: block;
    margin-top: 5px;
    min-height: 50px;
    height: fit-content;
    width: 100%;
}
.chat-user-box {
    position: absolute;
    right: 60px;
    display: inline;
    background-color:  rgb(255,89,89);
    color: white;
    border: 1px solid red;
    border-radius: 20px;
}
.chat-user-text {
    margin: auto;
    padding: 5px;
}
.avt-user {
    position: absolute;
    display: inline;
    right: 5px;
}
.chat-bot-container {
    display: block;
    min-height: 50px;
    height: fit-content;
    margin-top: 5px;
}
.chat-bot-box {
    position: absolute;
    left: 60px;
    display: inline;
    background-color:  white;
    color: black;
    border: 1px solid red;
    border-radius: 20px;
}
.chat-bot-text {
    margin: auto;
    padding: 5px;
}
.avt-bot {
    position: absolute;
    display: inline;
    left: 5px;
}
/*Chatting-bar-----------------------------------*/
.chat-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(8,95,99);
}
.input-message {
    width: 800px;
    margin-right: 10px;
    border-radius: 20px;
}
.btn-send-mess{
    right: 10px;
    background-color: rgb(255,89,89);
    border: 1px solid black;
    border-radius: 5px;
}