
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.wrapper {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100%;
}