/* You can add global styles to this file, and also import other style files */
@font-face {
     font-family: robotoMono;
     src: url(./app/fonts/RobotoMono-VariableFont_wght.ttf);
}

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-size: 16px;
     font-family: robotoMono, monospace;
     
}
