.chatting-area {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px calc(100% - 90px) 50px;
}

.chat-field {
  background-color: whitesmoke;
  
  height: 100%;
  overflow-y: auto;
}
.chat-field::-webkit-scrollbar {
  width: 0.25rem;
}
.chat-field::-webkit-scrollbar-track {
  background-color: none;
}
.chat-field::-webkit-scrollbar-thumb {
  background-color: #085f63;
  border-radius: 0.125rem;
}

.title-course-wrapper {
  display: flex;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: 0px 2px 4px #646464bb;
  outline: none;
  border: none;
  z-index: 2;
}

.title-chatting-course {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.introbot {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin-top: 16px;
  margin-bottom: 6px;
}

.introbot img {
  max-height: 150px;
  margin-bottom: 6px;
}
.introbot p {
  margin-bottom: 6px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

